.stat-card {
  &--pink    { background-color: #F1416C; background-image: url('assets/media/patterns/vector-1.png'); }
  &--purple  { background-color: #7239EA; background-image: url('assets/media/patterns/vector-1.png'); }
  &--green   { background-color: #17C653; background-image: url('assets/media/patterns/vector-1.png'); }
  &--blue    { background-color: #0095E8; background-image: url('assets/media/patterns/vector-1.png'); }
}

.stat-card__progress {
  &--82 { width: 82%; }
  &--91 { width: 91%; }
  &--75 { width: 75%; }
  &--67 { width: 67%; }
}
