backend/.vs/PriceRadar/config/applicationhost.config
backend/.vs/PriceRadar/CopilotIndices/17.14.1431.25910/CodeChunks.db
backend/.vs/PriceRadar/CopilotIndices/17.14.1431.25910/CodeChunks.db-shm
backend/.vs/PriceRadar/CopilotIndices/17.14.1431.25910/CodeChunks.db-wal
backend/.vs/PriceRadar/CopilotIndices/17.14.1431.25910/SemanticSymbols.db
backend/.vs/PriceRadar/CopilotIndices/17.14.1431.25910/SemanticSymbols.db-shm
backend/.vs/PriceRadar/CopilotIndices/17.14.1431.25910/SemanticSymbols.db-wal
backend/.vs/PriceRadar/DesignTimeBuild/.dtbcache.v2
backend/.vs/PriceRadar/FileContentIndex/0765fd52-00a3-441b-a14d-e036fde261e7.vsidx
backend/.vs/PriceRadar/v17/.suo
backend/.vs/PriceRadar/v17/DocumentLayout.backup.json
backend/.vs/PriceRadar/v17/DocumentLayout.json
backend/PriceRadar.API/bin/Debug/net9.0/appsettings.Development.json
backend/PriceRadar.API/bin/Debug/net9.0/appsettings.json
backend/PriceRadar.API/bin/Debug/net9.0/DnsClient.dll
backend/PriceRadar.API/bin/Debug/net9.0/Microsoft.AspNetCore.OpenApi.dll
backend/PriceRadar.API/bin/Debug/net9.0/Microsoft.OpenApi.dll
backend/PriceRadar.API/bin/Debug/net9.0/MongoDB.Bson.dll
backend/PriceRadar.API/bin/Debug/net9.0/MongoDB.Driver.dll
backend/PriceRadar.API/bin/Debug/net9.0/PriceRadar.API.deps.json
backend/PriceRadar.API/bin/Debug/net9.0/PriceRadar.API.dll
backend/PriceRadar.API/bin/Debug/net9.0/PriceRadar.API.exe
backend/PriceRadar.API/bin/Debug/net9.0/PriceRadar.API.pdb
backend/PriceRadar.API/bin/Debug/net9.0/PriceRadar.API.runtimeconfig.json
backend/PriceRadar.API/bin/Debug/net9.0/PriceRadar.API.staticwebassets.endpoints.json
backend/PriceRadar.API/bin/Debug/net9.0/PriceRadar.Core.dll
backend/PriceRadar.API/bin/Debug/net9.0/PriceRadar.Core.pdb
backend/PriceRadar.API/bin/Debug/net9.0/PriceRadar.DAL.dll
backend/PriceRadar.API/bin/Debug/net9.0/PriceRadar.DAL.pdb
backend/PriceRadar.API/bin/Debug/net9.0/SharpCompress.dll
backend/PriceRadar.API/bin/Debug/net9.0/Snappier.dll
backend/PriceRadar.API/bin/Debug/net9.0/ZstdSharp.dll
backend/PriceRadar.API/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
backend/PriceRadar.API/obj/Debug/net9.0/ApiEndpoints.json
backend/PriceRadar.API/obj/Debug/net9.0/apphost.exe
backend/PriceRadar.API/obj/Debug/net9.0/PriceRad.4A069295.Up2Date
backend/PriceRadar.API/obj/Debug/net9.0/PriceRadar.API.AssemblyInfo.cs
backend/PriceRadar.API/obj/Debug/net9.0/PriceRadar.API.AssemblyInfoInputs.cache
backend/PriceRadar.API/obj/Debug/net9.0/PriceRadar.API.assets.cache
backend/PriceRadar.API/obj/Debug/net9.0/PriceRadar.API.csproj.AssemblyReference.cache
backend/PriceRadar.API/obj/Debug/net9.0/PriceRadar.API.csproj.BuildWithSkipAnalyzers
backend/PriceRadar.API/obj/Debug/net9.0/PriceRadar.API.csproj.CoreCompileInputs.cache
backend/PriceRadar.API/obj/Debug/net9.0/PriceRadar.API.csproj.FileListAbsolute.txt
backend/PriceRadar.API/obj/Debug/net9.0/PriceRadar.API.dll
backend/PriceRadar.API/obj/Debug/net9.0/PriceRadar.API.GeneratedMSBuildEditorConfig.editorconfig
backend/PriceRadar.API/obj/Debug/net9.0/PriceRadar.API.genruntimeconfig.cache
backend/PriceRadar.API/obj/Debug/net9.0/PriceRadar.API.GlobalUsings.g.cs
backend/PriceRadar.API/obj/Debug/net9.0/PriceRadar.API.MvcApplicationPartsAssemblyInfo.cache
backend/PriceRadar.API/obj/project.assets.json
backend/PriceRadar.API/obj/PriceRadar.API.csproj.nuget.g.targets
backend/PriceRadar.API/obj/PriceRadar.API.csproj.nuget.g.props
backend/PriceRadar.API/obj/PriceRadar.API.csproj.nuget.dgspec.json
backend/PriceRadar.API/obj/Debug/net9.0/staticwebassets.removed.txt
backend/PriceRadar.API/obj/Debug/net9.0/staticwebassets.references.upToDateCheck.txt
backend/PriceRadar.API/obj/Debug/net9.0/staticwebassets.build.json.cache
backend/PriceRadar.API/obj/Debug/net9.0/staticwebassets.build.json
backend/PriceRadar.API/obj/Debug/net9.0/staticwebassets.build.endpoints.json
backend/PriceRadar.API/obj/Debug/net9.0/rpswa.dswa.cache.json
backend/PriceRadar.API/obj/Debug/net9.0/rjsmrazor.dswa.cache.json
backend/PriceRadar.API/obj/Debug/net9.0/rjsmcshtml.dswa.cache.json
backend/PriceRadar.API/obj/Debug/net9.0/refint/PriceRadar.API.dll
backend/PriceRadar.API/obj/Debug/net9.0/ref/PriceRadar.API.dll
backend/PriceRadar.API/obj/Debug/net9.0/PriceRadar.API.pdb
backend/PriceRadar.API/obj/Debug/net9.0/PriceRadar.API.MvcApplicationPartsAssemblyInfo.cs
backend/PriceRadar.API/obj/project.nuget.cache
backend/PriceRadar.Core/bin/Debug/net9.0/PriceRadar.Core.deps.json
backend/PriceRadar.Core/bin/Debug/net9.0/PriceRadar.Core.dll
backend/PriceRadar.Core/bin/Debug/net9.0/PriceRadar.Core.pdb
backend/PriceRadar.Core/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
backend/PriceRadar.Core/obj/Debug/net9.0/PriceRadar.Core.AssemblyInfo.cs
backend/PriceRadar.Core/obj/Debug/net9.0/PriceRadar.Core.AssemblyInfoInputs.cache
backend/PriceRadar.Core/obj/Debug/net9.0/PriceRadar.Core.assets.cache
backend/PriceRadar.Core/obj/Debug/net9.0/PriceRadar.Core.csproj.BuildWithSkipAnalyzers
backend/PriceRadar.Core/obj/Debug/net9.0/PriceRadar.Core.csproj.CoreCompileInputs.cache
backend/PriceRadar.Core/obj/Debug/net9.0/PriceRadar.Core.csproj.FileListAbsolute.txt
backend/PriceRadar.Core/obj/Debug/net9.0/PriceRadar.Core.dll
backend/PriceRadar.Core/obj/Debug/net9.0/PriceRadar.Core.GeneratedMSBuildEditorConfig.editorconfig
backend/PriceRadar.Core/obj/Debug/net9.0/PriceRadar.Core.GlobalUsings.g.cs
backend/PriceRadar.Core/obj/Debug/net9.0/PriceRadar.Core.pdb
backend/PriceRadar.Core/obj/Debug/net9.0/ref/PriceRadar.Core.dll
backend/PriceRadar.Core/obj/Debug/net9.0/refint/PriceRadar.Core.dll
backend/PriceRadar.Core/obj/PriceRadar.Core.csproj.nuget.dgspec.json
backend/PriceRadar.Core/obj/PriceRadar.Core.csproj.nuget.g.props
backend/PriceRadar.Core/obj/PriceRadar.Core.csproj.nuget.g.targets
backend/PriceRadar.Core/obj/project.assets.json
backend/PriceRadar.Core/obj/project.nuget.cache
backend/PriceRadar.DAL/bin/Debug/net9.0/PriceRadar.Core.dll
backend/PriceRadar.DAL/bin/Debug/net9.0/PriceRadar.Core.pdb
backend/PriceRadar.DAL/bin/Debug/net9.0/PriceRadar.DAL.deps.json
backend/PriceRadar.DAL/bin/Debug/net9.0/PriceRadar.DAL.dll
backend/PriceRadar.DAL/bin/Debug/net9.0/PriceRadar.DAL.pdb
backend/PriceRadar.DAL/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
backend/PriceRadar.DAL/obj/Debug/net9.0/PriceRad.48426FA4.Up2Date
backend/PriceRadar.DAL/obj/Debug/net9.0/PriceRadar.DAL.AssemblyInfo.cs
backend/PriceRadar.DAL/obj/Debug/net9.0/PriceRadar.DAL.AssemblyInfoInputs.cache
backend/PriceRadar.DAL/obj/Debug/net9.0/PriceRadar.DAL.assets.cache
backend/PriceRadar.DAL/obj/Debug/net9.0/PriceRadar.DAL.csproj.AssemblyReference.cache
backend/PriceRadar.DAL/obj/Debug/net9.0/PriceRadar.DAL.csproj.BuildWithSkipAnalyzers
backend/PriceRadar.DAL/obj/Debug/net9.0/PriceRadar.DAL.csproj.CoreCompileInputs.cache
backend/PriceRadar.DAL/obj/Debug/net9.0/PriceRadar.DAL.csproj.FileListAbsolute.txt
backend/PriceRadar.DAL/obj/Debug/net9.0/PriceRadar.DAL.dll
backend/PriceRadar.DAL/obj/Debug/net9.0/PriceRadar.DAL.GeneratedMSBuildEditorConfig.editorconfig
backend/PriceRadar.DAL/obj/Debug/net9.0/PriceRadar.DAL.GlobalUsings.g.cs
backend/PriceRadar.DAL/obj/Debug/net9.0/PriceRadar.DAL.pdb
backend/PriceRadar.DAL/obj/Debug/net9.0/ref/PriceRadar.DAL.dll
backend/PriceRadar.DAL/obj/Debug/net9.0/refint/PriceRadar.DAL.dll
backend/PriceRadar.DAL/obj/PriceRadar.DAL.csproj.nuget.dgspec.json
backend/PriceRadar.DAL/obj/PriceRadar.DAL.csproj.nuget.g.props
backend/PriceRadar.DAL/obj/PriceRadar.DAL.csproj.nuget.g.targets
backend/PriceRadar.DAL/obj/project.assets.json
backend/PriceRadar.DAL/obj/project.nuget.cache
frontend/price-radar/.vscode/extensions.json
frontend/price-radar/.vscode/launch.json
frontend/price-radar/.vscode/mcp.json
frontend/price-radar/.vscode/tasks.json
frontend/price-radar/.vscode/extensions.json
frontend/price-radar/.vscode/launch.json
frontend/price-radar/.vscode/mcp.json
frontend/price-radar/.vscode/tasks.json
