<!--begin::App-->
<div class="d-flex flex-column flex-root app-root" id="kt_app_root">
  <!--begin::Page-->
  <div class="app-page flex-column flex-column-fluid" id="kt_app_page">

    <!--begin::Header-->
    <app-header></app-header>
    <!--end::Header-->

    <!--begin::Wrapper-->
    <div class="app-wrapper flex-column flex-row-fluid" id="kt_app_wrapper">

      <!--begin::Sidebar (admin only)-->
      @if (auth.isAdmin()) {
        <app-sidebar></app-sidebar>
      }
      <!--end::Sidebar-->

      <!--begin::Main-->
      <div class="app-main flex-column flex-row-fluid" id="kt_app_main">
        <!--begin::Content wrapper-->
        <div class="d-flex flex-column flex-column-fluid">

          <!--begin::Toolbar-->
          <div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
            <div id="kt_app_toolbar_container"
                 class="app-container container-fluid d-flex flex-stack">
              <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
                <h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">
                  
                </h1>
              </div>
            </div>
          </div>
          <!--end::Toolbar-->

          <!--begin::Content-->
          <div id="kt_app_content" class="app-content flex-column-fluid">
            <div id="kt_app_content_container" class="app-container container-fluid">
              <router-outlet></router-outlet>
            </div>
          </div>
          <!--end::Content-->

        </div>
        <!--end::Content wrapper-->

        <!--begin::Footer-->
        <div id="kt_app_footer" class="app-footer">
          <div class="app-container container-fluid d-flex flex-column flex-md-row flex-center flex-md-stack py-3">
            <div class="text-dark order-2 order-md-1">
              <span class="text-muted fw-semibold me-1">2026&copy;</span>
              <span class="text-gray-800">Price Radar</span>
            </div>
          </div>
        </div>
        <!--end::Footer-->

      </div>
      <!--end::Main-->

    </div>
    <!--end::Wrapper-->

  </div>
  <!--end::Page-->
</div>
<!--end::App-->
